In [1]:
! pip install pyarrow

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyarrow in c:\users\wasadmin\appdata\roaming\python\python312\site-packages (16.1.0)
Requirement already satisfied: numpy>=1.16.6 in c:\users\wasadmin\appdata\roaming\python\python312\site-packages (from pyarrow) (1.26.4)

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [12]:
import pandas as pd
import pyarrow as pa

In [13]:
data = pd.read_parquet('troop_movements10m.parquet')

In [14]:
import pickle

with open('trained_model.pkl', 'rb') as file:
    model = pickle.load(file)

In [23]:
X = data[['homeworld', 'unit_type']]
X_encoded = pd.get_dummies(X)

data['predictions'] = model.predict(X_encoded)

In [24]:
display(data)

,timestamp,unit_id,unit_type,location_x,location_y,destination_x,destination_y,homeworld,predictions
0,2023-06-13 17:33:18,1,at-st,2.0,8.0,1,1,Glee Anselm,True
1,2023-06-13 17:33:17,2,tie_silencer,4.0,4.0,0,1,Trandosha,False
2,2023-06-13 17:33:16,3,at-at,0.0,3.0,6,1,Corellia,False
3,2023-06-13 17:33:15,4,tie_silencer,6.0,1.0,6,9,Shili,False
4,2023-06-13 17:33:14,5,tie_fighter,0.0,4.0,9,6,Muunilinst,False
...,...,...,...,...,...,...,...,...,...
9999995,2023-02-18 10:26:20,9999996,resistance_soldier,6.0,6.0,1,3,Troiken,True
9999996,2023-02-18 10:26:19,9999997,tie_silencer,8.0,6.0,2,0,Kashyyyk,False
9999997,2023-02-18 10:26:18,9999998,tie_fighter,7.0,7.0,6,4,Kashyyyk,False
9999998,2023-02-18 10:26:17,9999999,tie_fighter,6.0,6.0,8,8,Kalee,False
9999999,2023-02-18 10:26:16,10000000,unknown,NaN,NaN,3,0,Skako,False